{{ define "layout/profile_footer.tmpl" }}
</main>
</div>

<footer class="app-footer">
  <div class="container">
    <p>
      myHabr
    </p>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
{{ end }}