{{ define "index/index.tmpl" }}
{{ template "layout/header.tmpl" . }}
    <div class="jumbotron">
      <h1>Welcome to <span class="zf-green">{{ .title }}</span></h1>
      <p>
        Congratulations!
      </p>
    </div>

    <div class="row">
      {{ range $post := .posts }}
      <div class="col-md-4">
        <h2>{{ $post.Title }}</h2>
        <p>{{ $post.ShortText }}</p>
      </div>
      {{ end }}
    </div>
{{ template "layout/footer.tmpl" }}
{{ end }}