{{ define "index/register.tmpl" }}
{{ template "layout/header.tmpl" . }}
<div class="form-auth">
    <div class="row">
        {{ if .success }}
        <div class="panel panel-success">
            <div class="panel-heading">User "{{ .login }}" registered</div>
            <div class="panel-body">
                <span class="float-right">Go to <a href="/">Login form</a></span>
            </div>
        </div>
        {{ else }}
        <div class="panel panel-primary">
            <div class="panel-heading">Registration</div>
            <div class="panel-body">
                <form action="/register_user" method="post">
                    <div class="form-group">
                        <input type="text" name="login" class="form-control" placeholder="Login" value="{{ .login }}">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control" placeholder="Password">
                    </div>
                    {{ if .errors }}
                    <div class="alert alert-danger">{{ .errors }}</div>
                    {{ end }}
                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
            </div>
        </div>
        {{ end }}
    </div>
</div>
{{ template "layout/footer.tmpl" }}
{{ end }}