body {
  padding-top: 60px;
}

.app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.app-content {
  flex: 1;
}

.app-footer {
  padding-bottom: 1em;
}

.zf-green, h2 a {
  color: #68b604;
}

.navbar-brand {
  padding-top: 0px;
}

.form-auth {
  margin: 0 auto;
  width: 300px;
  margin-top: 50px;
}

.float-right {
  float: right !important;
}
